// @import url('https://fonts.googleapis.com/css?family=Orbitron:500,900|Raleway:300&display=swap');

// GENERAL

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

// FONT

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 55px;
  line-height: 89px;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 34px;
  line-height: 55px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
}

h3, strong {
  font-family: 'Orbitron', sans-serif;
  font-size: 34px;
  line-height: 55px;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
}

p, li {
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  line-height: 34px;
  font-weight: 300;
  color: white;
}



// HUD

#score-text-wrapper {
  position: fixed;
  right: 21px;
  top: 21px;
  z-index: +1;

  #score-text {
    color: white;
  }
}

#pause-button {
  position: fixed;
  right: 21px;
  bottom: 21px;
  z-index: +1;
  padding: 21px;
  border: 3px solid white;
}



// SCREENS

#pause-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: +1;
  background: rgba(0, 0, 0, 0.75);
  opacity:  0;
  pointer-events: none;
  transition-duration: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.show-pause-screen {
  opacity:  1 !important;
  pointer-events: all !important;
}

#start-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - (89px * 2));
  padding: 89px;
  height: 100vh;
  z-index: +1;
  background: rgba(0, 0, 0, 0.75);
  opacity:  0;
  pointer-events: none;
  transition-duration: 0.5s;

  display: flex;
  flex-wrap: wrap;

  p, h3, strong {
    padding: 21px;
  }

  #game-title {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #instructions {
    flex: 0 0 100%;
    display: flex;

    #objective, #obstacle, #powerups {
      flex: 0 0 calc(100%/3);
    }

    #obstacle {
      #red {
        margin-top: 21px;
        margin-left: 21px;
        display: block;
        width: 200px;
        height: 3px;
        background-color: red;
      }
    }

    #powerups {
      span {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-left: 21px;
      }
      #coin {
        background-color: goldenrod;
      }
      #invisibility {
        background-color: #ff0099;
      }
    }
  }

  #click-to-start {
    flex: 0 0 100%;
    p {
      color: #ff0099;
    }
  }
}

.show-start-screen {
  opacity:  1 !important;
  pointer-events: all !important;
}

#lose-screen {
  position: fixed;
  top: 0;
  left: 0;
  padding: 89px;
  width: calc(100vw - (89px * 2));
  height: 100vh;
  z-index: +1;
  background: rgba(0, 0, 0, 0.75);

  opacity:  0;
  pointer-events: none;
  transition-duration: 0.5s;
}

.show-lose-screen {
  opacity:  1 !important;
  pointer-events: all !important;
}

// CANVAS

#canvas {
  display: block;
  border: none;
  background-color: #1f1f1f;

  transform: rotate(180deg) scaleX(-1);
}